# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Audio System.iml
# Datasource local storage ignored files
/../../../../../../:\Proyectos\Audio System\.idea\.idea.Audio System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
